header {
    position: relative;
    background-image: url('/theme/frontend/images/header_img_background.png');
    height: 784px;
    @include background-cover;

    .header-top {
        &-pc {
            &-logo {
                display: flex;
                justify-content: space-between;
                padding: 40px 0;
                &-nav {
                    display: inline-flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 30px;
    
                    li {
                        position: relative;
                    }
    
                    &__link {
                        display: block;
                        position: relative;
    
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -10px;
                            height: 2px;
                            width: 100%;
                            background-color: $primary-color;
                            transform: scaleX(0);
                            transform-origin: left;
                            transition: transform 0.3s ease;
                        }
    
                        &:hover {
                            font-weight: 700;
    
                            &::after {
                                transform: scaleX(1);
                            }
                        }
    
                        &.header-top-pc-logo-nav__link--language{
                            border-radius: $border-radius-m;
                            padding: 8px;
                            border: 1px solid rgba(69, 69, 69, 0.2);
                            text-align: center;
                            @include text16-regular;
                        }
                    }
                }
            }
        }

        &-mobile {
            display: none;
        }
    }

    .header-body {
        margin-top: 70px;

        &__title {
            color: $secondary-color;
            width: 427px;
            @include text60;
        }

        &__describe {
            display: inline-block;
            color: $text-color;
            font-size: 20px;
            font-weight: 400;
            margin-top: 10px;
        }

        &-view {
            display: flex;
            gap: 16px;
            margin-top: 70px;
        }

        &-inquiry {
            display: flex;
            align-items: center;
            gap: 5px;
            border-radius: $border-radius-xl;
            border: 1px solid $primary-color;
            background: $primary-color;
            padding: 0 50px;

            &__text {
                color: $white-color;
                text-align: center;
                -webkit-text-stroke-width: 1;
                -webkit-text-stroke-color: $primary-color;
                @include text16-regular;
            }
        }
    }

    .header-bottom {
        margin-top: 120px;
        margin-left: 50%;

        &-achievement {
            display: flex;
            align-items: center;
            gap: 20px;

            &-item {
                padding: 5px;
                border-radius: $border-radius-xl;
                border: 1px solid #9FE2FF;
            }

            &__one,
            &__two {
                border-radius: $border-radius-xl;
                background-color: $white-color;
            }
            &__one {
                padding: 10px 20px;
            }

            &__two {
                padding: 27px 10px;
            }
        }
    }
}

.fixed {
    position: fixed;
    top: 0;
    color: $white-color;
    background-color: $primary-color;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.dropdown {
    position: relative;

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        list-style: none;
        padding: 0;
        margin: 0;

        &__link {
            display: block;
            border-radius: $border-radius-m;
            padding: 8px;
            border: 1px solid rgba(69, 69, 69, 0.2);
            text-decoration: none;
            background-color: $secondary-color;

            &:hover {
                background-color: $primary-color;
            }
        }
    }

    &:hover .dropdown-menu {
        display: block;
    }
}


@media (max-width: 1024px) and (min-width: 756px) {
    header {
        background-size: contain;
        height: 580px;

        .header-top-pc-logo-nav {
            gap: 10px;
        }

        .header-body__title {
            font-size: 50px;
            width: 300px;
        }

        .header-bottom {
            margin-top: -20px;
        }
    }
}

@media screen and (max-width: 756px) {
    header {
        background: none;
        height: 670px;

        .header-top-pc {
            display: none;
        }

        .header-top-mobile {
            display: block;
        }

        .header-body__title {
            width: auto;
        }

        .header-bottom {
            margin-top: 100px;
            margin-left: 0;

            .header-bottom-achievement {
                gap: 0;
                justify-content: space-evenly;
            }
        }
    }
}
