.technology {
    background: linear-gradient(to right, #358BDB 50%, #e7eaef 50%);
}

.technology-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.technology-list-item {
    height: 100%;
    padding-left: 230px;
    position: absolute;
    left: 0;
    width: 50%;
    background-color: #358BDB;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.technology-list-item:hover {
    background-color: #01B9EA;
    cursor: pointer;
}

.technology-list:nth-child(even) {
    background-color: #e7eaef;
}

.technology-list-item.technology-list-item--right {
    right: 0;
    left: auto;
    padding-left: 56px;
    padding-right: 230px;
}

.technology-list__img {
    margin: auto;
}

.technology-list-item-main {
    padding-top: 70px;
}

.technology-list-item-main__title {
    color: var(--white, #FFF);
    font-size: 40px;
    font-weight: 700;
}

.technology-list-item-main__text {
    margin-top: 10px;
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.technology-list-item-tech__title {
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.technology-list-item-tech-list {
    margin-top: 10px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.technology-list-item-tech-list__item {
    width: 63px;
    height: 48px;
    border-radius: 8px;
    background: #FFF;
    padding: 10px 7px;
    margin: auto;
}

.technology-list-item-tech-list__item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.technology-list-item-support__title {
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.technology-list-item-support__text {
    display: block;
    margin-top: 10px;
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

@media (max-width: 1024px) and (min-width: 756px) {

    .technology {
        background: none;
    }

    .technology-list-item {
        width: 100%;
        padding: 0 10px 20px;
        position: initial;
        order: 1;
    }

    .technology-list-item.technology-list-item--right {
        order: -1;
        right: 0;
        left: auto;
        padding: 10px;
    }

    .technology-list-item-tech-list {
        flex-wrap: wrap;
    }

    .technology-list-item-tech-list__item {
        margin: auto 0 0;
    }

    .technology-list {
        height: auto;
        flex-direction: column;
    }

    .technology-list__img {
        order: 2;
        margin: auto;
        width: 100%;
    }
}

@media screen and (max-width: 756px) {

}
