.leader {
    padding: 110px 0 150px;
    background-color: #F2F5FA;
}

.leader__title {
    color: #454545;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 70px;
}

.leader-list {
    width: 100%;
    display: flex;
    gap: 27px;
}

.leader-list-item {
    width: initial!important;
}

.leader-list-item__img {
    padding: 20px 20px 0;
    border: 1px solid #FFF;
    background: #E0ECF9;
    border-radius: 0px 0 0 30px;
}

.leader-list-item__img img {
    object-fit: contain;
    object-position: center;
}

.leader-list-item__name {
    margin: 20px 0 10px;
    color: #454545;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.leader-list-item__describe {
    display: block;
    color: #828282;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
