.client {
    margin: 120px 0;

    &__title {
        color: $text-color;
        text-align: center;
        @include middum-40;
    }

    &-list {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 35px;
        row-gap: 18px;

        &-item {
            height: 100%;
            width: 100%;
            border-radius: 8px;
            border: #A9B5C9 solid 1px;
            padding: 20px 0;
            cursor: pointer;
            display: flex;

            &__img {
                margin: auto;
                img {
                    max-height: 65px;
                    object-fit: contain;
                    object-position: center;
                    transition: transform 0.3s ease;
                }
            }

            &:hover .client-list-item__img img{
                transform: scale(1.2);
            }

            &:hover {
                border-color: $primary-color;
            }
        } 
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
   
}

@media screen and (max-width: 768px) {
    .client {
        margin: 60px 0;

        &-list {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
}
