.footer {
    padding: 120px 0 0;
    background: linear-gradient(97deg, #0869C2 3.77%, #2883D8 49.28%, #358BDB 100.88%);

    &-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 120px;
        row-gap: 50px;

        &-item {
            &__title {
                color: $white-color;
                @include h2;
            }

            &-mail,
            &-locate,
            &-phone {
                margin-top: 30px;
                display: flex;
                gap: 17px;
            }

            &-locate__text {
                color: $white-color;
                @include text16-regular;
            }

            &-mail__text,
            &-phone__text {
                color: $white-color;
                @include text16-bold;

                &:hover {
                    @include underline;
                }
            }
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 50px;
        padding-bottom: 57px;

        &-icon {
            display: flex;
            gap: 13px;

            &__yt,
            &__fb {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: $white-color solid 1px;
                cursor: pointer;
            }

            &__fb {
                padding: 12px 16px;
            }

            &__yt {
                padding: 12px 12px;
            }
        }

        &-text {
            display: flex;
            gap: 30px;

            li a {
                color: $white-color;
                @include text16-bold;

                &:hover {
                    @include underline;
                }
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .footer-top {
        column-gap: 50px;
        row-gap: 25px;
        padding: 0 20px;
    }

    .footer-bottom {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 50px;
    }

    .footer-top {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        column-gap: 120px;
        row-gap: 50px;
    }

    .footer-bottom {
        padding: 20px 0;
        align-items: center;
        flex-wrap: wrap;
        position: unset;
        transform: none;
    }

    .footer-bottom-icon {
        margin: auto auto 15px;
    }
}
