.general__bg img {
    width: 100%;
    object-fit: cover;
}

.general {
    position: relative;
    margin-top: -100px;
    height: auto;
    
    &-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        @include flex-center;
        &-list {
            display: inline-flex;
            align-items: center;
            gap: 120px;
    
            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                &__number {
                    text-align: center;
                    @include lagre-80;
                }
    
                &__text {
                    color: $white-color;
                    text-align: center;
                    @include h2;
                }
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .general {
        margin-top: -50px;
    }

    .banner-body {
        margin-top: 0;
    }
}

@media screen and (max-width: 767px) {
    .general {
        margin-top: 0;
        background-image: none;
        background-color: $primary-color;

        &-content {
            &-list {
                gap: 60px;
    
                &-item {
                    &__number {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
