header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    // height: 784px;

    .header {
        &-logo {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            &-nav {
                display: inline-flex;
                justify-content: flex-end;
                align-items: center;
                gap: 30px;
                margin-left: auto;

                li {
                    position: relative;
                }

                a {
                    display: block;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -10px;
                        height: 2px;
                        width: 100%;
                        background-color: $primary-color;
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: transform 0.3s ease;
                    }

                    &:hover {
                        font-weight: 700;

                        &::after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }

        &-mobile {
            display: none;
        }
    }
}

.header-logo-nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $white-color;
    list-style: none;
}

.header-logo-nav li ul li a {
    min-width: 90px;
    margin: 10px;
}

.header-logo-nav li:hover ul {
    display: block;
}

.banner {
    position: relative;
}

.banner-background img {
    width: 100%;
    height: auto;
}

#banner-video {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: auto;
    width: auto;
    display: none;
}

.banner-firework {
    position: absolute;
    bottom: 0;
    width: 2px;
    height: 0;
    background-color: rgba(0, 142, 204, 0.5);
    border-radius: 2px;
    animation: shoot 2s forwards;
}

.banner-firework::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: rgba(0, 142, 204, 0.5);
    border-radius: 50%;
}

@keyframes shoot {
    0% {
        height: 0;
        opacity: 1;
    }
    100% {
        height: 20%;
        opacity: 0;
    }
}

.banner-body {
    position: absolute;
    top: 190px;
    margin-top: 70px;

    &__title {
        color: $secondary-color;
        max-width: 427px;
        @include text60;
        @include text-truncate(2);
    }

    &__describe {
        display: block;
        color: $text-color;
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
        max-width: 427px;
        @include text-truncate(1);
    }

    &-view {
        display: inline-flex;
        gap: 16px;
        margin-top: 70px;
    }

    &-inquiry {
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: $border-radius-xl;
        border: 1px solid $primary-color;
        background: $primary-color;
        padding: 0 50px;

        &__text {
            color: $white-color;
            text-align: center;
            -webkit-text-stroke-width: 1;
            -webkit-text-stroke-color: $primary-color;
            @include text16-regular;
        }
    }
}

.fixed {
    position: fixed;
    top: 0;
    color: $white-color;
    background-color: $primary-color;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.header-logo-language {
    position: relative;
    margin-left: 30px;

    a {
        border-radius: $border-radius-m;
        padding: 8px;
        border: 1px solid rgba(69, 69, 69, 0.2);
        text-align: center;
        display: block;
        @include text16-regular;
    }

    ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            display: block;
            border-radius: $border-radius-m;
            padding: 8px;
            border: 1px solid rgba(69, 69, 69, 0.2);
            text-decoration: none;
            background-color: $secondary-color;

            &:hover {
                background-color: $primary-color;
            }
        }
    }

    &:hover ul {
        display: block;
    }
}


@media (max-width: 1024px) and (min-width: 756px) {
    header {
        background-size: contain;
        height: 580px;

        .header-top-pc-logo-nav {
            gap: 10px;
        }

        .header-body__title {
            font-size: 50px;
            width: 300px;
        }

        .header-bottom {
            margin-top: -20px;
        }
    }
}

@media screen and (max-width: 756px) {
    header {
        // height: 670px;

        .header-logo-nav {
            display: none;
        }

        .header-logo__menu {
            display: block;
        }

        .header-body__title {
            width: auto;
        }
    }

.header {
    background-color: #2F5AA8;
}

.header-logo__img {
    filter: brightness(10);
}

.header-logo-language {
    margin-left: 0;
}

.header-logo-language a {
    border-color: $white-color;
    color: $white-color;
}

.banner {
    padding: 40px;
}

.banner,
.banner-body,
#banner-video {
    position: unset;
}

.banner-background {
    display: none;
}

.banner-body__title {
    @include middum-40;
}

#banner-video {
    margin-top: 20px;
}





.header-top-mobile-head {
    display: flex;
    align-items: center;
}

.header-top-mobile-body {
    position: relative;
}

.header-top-mobile-head__img {
    margin: auto;
}

.header-top-mobile-group {
    display: none;
}

.header-top-mobile-group {
    background-color: rgba(0, 0, 0, 0.7)
}

.header-top-mobile-group-active {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 2;
}

.header-top-mobile-group-active {
    transform: translateX(0);
}  

.header-top-mobile-group.header-top-mobile-group-active {
    display: block;
}

.header-top-mobile .header-top-pc-logo-nav__link--language{
    color: $white-color;
    border: $white-color solid 1px;
    display: block;
    padding: 5px;
    border-radius: $border-radius-m;

}

.header-top-mobile-body {
    position: relative;
}

.header-top-mobile-group-top {
    padding: 10px;
    background-color: #2F5AA8;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.header-top-mobile-group-body {
    background-color: #2F5AA8;
    width: 70%;
}

.header-top-mobile-group-body-nav__link {
    display: block;
    color: $white-color;
    padding: 10px 20px;
    position: relative;
}

.header-top-mobile-group-body-nav__link::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    bottom: -10px;
    height: 1px;
    width: 100%;
    opacity: 0.2;
    background-color: $white-color;
    transform-origin: left;
    transition: transform 0.3s ease;
}

.header-top-mobile-group-bottom {
    background-color: #2F5AA8;
    width: 70%;
    display: flex;
}

.header-top-mobile-group-bottom-mail {
    display: flex;
    border-right: rgba(255, 255, 255, 0.2)solid 1px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 20px;
}

.header-top-mobile-group-bottom-mail__text {
    color: $white-color;
    @include text16-bold;
}

.header-top-mobile-group-bottom-social {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto;
    padding: 10px 0;
}

.header-top-mobile-group-bottom-social-img {
    border-radius: 50%;
    border: $white-color solid 1px;
    width: 45px;
    height: 45px;
}

.header-top-mobile-group-bottom-social-img__fb {
    padding: 12px 16px;
}

.header-top-mobile-group-bottom-social-img__yt {
    padding: 14px 12px;
}   

}
