.develop {
    margin-top: 90px;
    
    &-main {
        display: flex;
        align-items: center;
    
        > * {
            flex-basis: 50%;
            flex-grow: 1;
        }

        &-top {
            &__title {
                color: $text-color;
                @include middum-40;
                @include text-truncate(3);
            }
    
            &__title--hightlight {
                color: $primary-color;
                @include text-truncate(2);
            }
        }
    
        &-body {
            margin-top: 50px;
    
            &__text {
                color: $text-color;
                @include text16-regular;
                @include text-truncate(5);
            }
        }
    }
}

.outsource {
    &-group {
        display: flex;
        margin: 120px 0 200px;

        &__img {
            flex-basis: 58%;
            position: relative;
        }
    
        &-main {
            flex-basis: 58%;
            position: relative;
            border-radius: 8px;
            background: #358BDB;
            color: $white-color;
            padding: 60px 70px 20px;
            box-sizing: border-box;
            margin: 60px 0 0 -160px;
            z-index: 1;
    
            &__title {
                color: $white-color;
                @include middum-40;
            }
    
            &-list {
                margin-top: 50px;
    
                &-item {
                    &-top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 4px;
                        background: #439EF2;
                        cursor: pointer;
    
                        &__icon{
                            display: flex;
                        }
    
                        &--active {
    
                            & .outsource-group-main-list-item-top__icon {
                                transform: rotate(180deg);
                            }
    
                            & .outsource-group-main-list-item-body__text {
                                max-height: 180px;
                            }
    
                            & .outsource-group-main-list-item-top {
                                background: $primary-color;
                            }
                        }
    
                        &__title {
                            color: $white-color;
                            padding: 20px;
                            @include text16-bold;
                        }
                    }
    
                    &-body {
                        margin: 10px 5px;
    
                        &__text {
                            color: $white-color;
                            @include text16-regular;
                            overflow-y: auto;
                            max-height: 0px;
                            transition: max-height 0.2s;
    
                            &::-webkit-scrollbar {
                                width: 8px;
                            }
    
                            &::-webkit-scrollbar-thumb {
                                background-color: $primary-color;
                                border-radius: 4px;
                            }
    
                            &::-webkit-scrollbar-track {
                                margin: 20px 0;
                                border-radius: 4px;
                                background-color: #f5f5f5;
                            }
                        }
                    }
                }
            }
        }
    }
}

.metting {
    position: relative;
    transform: translateY(50%);
    
    &-main {
        background-image: url("../../frontend/images/introduce_img_background_meeting.png");
        border-radius: 8px;
        padding: 55px 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include background-cover;
        &__title {
            color: $white-color;
            font-size: 30px;
            font-weight: 700;
        }
    
        &-call {
            &__text {
                display: block;
                padding: 10px 30px;
                color: $white-color;
                text-align: center;
                border-radius: 21px;
                border: 1px solid $white-color;
                @include text16-regular;
    
                &:hover {
                    background-color: #F6F6FF;
                    color: $primary-color;
                }
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .introduce-metting {
        position: unset;
    }

    .outsource-group {
        margin-top: 20px;
        display: block;

        &-main {
            margin: 20px 0 0;
        }
    }
}

@media screen and (max-width: 768px) {

    .develop-main {
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: column-reverse;
    }

    .outsource-group {
        margin: 60px 0 0;
        display: block;

        &-main {
            margin: 20px 0 0;
            padding: 20px 30px;
            min-height: unset;
        }
    }

    .metting-main {
        flex-wrap: wrap;
        width: auto;
        padding: 15px 20px;

        &__title {
            text-align: center;
        }

        &-call {
            margin: auto;
        }
    }
}
