.service {
    background-color: #F6F6FF;
    padding-top: 195px;

    &-top {
        display: flex;
        flex-direction: column;

        &__title {
            color: $text-color;
            text-align: center;
            @include middum-40;
        }

        &__text {
            display: block;
            margin: 50px 0 70px;
            color: $text-color;
            text-align: center;
            @include text16-regular;
            @include text-truncate(4);
            width: 736px;
            align-self: center;
        }
    }

    &-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 24px;

        &-item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            border-radius: 8px;
            background: #D6E8F9;
            padding: 45px 0px 50px 0px;
            cursor: pointer;
            overflow: hidden;

            &-hover {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url("../../frontend/images/service_img_hover.png");
                color: $white-color;
                display: flex;
                padding-bottom: 50px;
                z-index: 2;
                visibility: hidden;

                &__text {
                    margin-top: auto;
                    text-align: center;
                    padding: 0 30px 10px;
                }
            }

            &:hover {
                .service-list-item-hover {
                    visibility: visible;
                }
                z-index: 1;
            }

            &__img img {
                @include object-cover;
            }

            &__title {
                margin-top: 50px;
                text-align: center;
                @include h2;
            }
        }
    }

    &-why {
        margin-top: 120px;
        padding-bottom: 120px;

        &__title {
            color: $text-color;
            text-align: center;
            @include middum-40;
        }

        &-list {
            display: flex;
            gap: 24px;
            margin-top: 50px;

            &-item {
                background-color: #F3F4FD;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
                gap: 15px;
                padding: 45px;
                border-radius: 24px;
                border: 1px solid $white-color;

                &--colorEDFAFE {
                    background-color: #EDFAFE;
                }
                &--colorEBF5FF {
                    background-color: #EBF5FF;
                }

                &__title {
                    color: $text-color;
                    text-align: center;
                    @include h2;
                }

                &__text {
                    color: $text-color;
                    text-align: center;
                    @include text16-regular;
                    @include text-truncate(5);
                }
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 756px) {
    .service-why-list-item {
        padding: 15px;
    }
}

@media screen and (max-width: 756px) {
    .service {
        padding-top: 100px;

        &-top__text {
            width: auto;
        }

        &-list {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-gap: 24px;
        }

        &-why {
            margin-top: 60px;
            padding-bottom: 60px;

            &-list {
                flex-wrap: wrap;
            }
        }
    }
}
