.slide {
    padding: 120px 0;
    background-color: #F2F5FA;

    &-main {
        display: flex;
        gap: 90px;
        flex-wrap: wrap;

        &__img {
            width: 45%;

            img {
                object-fit: contain;
                object-position: center;
            }
        }

        &-list {
            width: 45%;

            &-item {
                &__title {
                    color: $text-color;
                    @include middum-40;
                }

                &__text {
                    margin-top: 35px;
                    color: $text-color;
                    @include text16-regular;
                    @include text-truncate(12);
                }

                &-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-user {
                        display: flex;
                        align-items: end;
                        gap: 20px;
    
                        &__img {
                            img {
                                border-radius: 50%;
                                @include object-cover;
                            }
                        }
    
                        &__name {
                            color: $text-color;
                            @include text16-bold;
                        }
                    }
                }
            }
        }

        .slick-dots {
            margin-top: 20px;
            text-align: left;
            bottom: inherit;
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
   
}

@media screen and (max-width: 768px) {
    .slide {
        padding: 60px 0;

        &-main {
            gap: 0;
            &__img,
            &-list {
                width: 100%;
            }
        }

        .slide-main-list-item__title {
            margin-top: 20px;
            font-size: 20px;
        }

        .slide-main-list-item-user {
            display: flex;
            justify-content: center;
        }

        .slick-dots {
            text-align: center;
        }
    }
}
