.Technology-list {
    display: flex;
    background-color: #eceff4;

    &:nth-child(even) {
        flex-direction: row-reverse;
        background-color: #e7eaef;
    }

    &:nth-child(odd) {
        .Technology-list-item {
            &:nth-child(odd) {
                background-color: #358BDB;
                padding-right: 52px;
            }

            &:nth-child(even) {
                .Technology-list-item__img {
                    height: 100%;
                    margin-right: auto;
                }
            }

            .Technology-list-item-main {
                margin-left: auto;
            }
        }
    }

    &:nth-child(even) {
        .Technology-list-item {
            &:nth-child(odd) {
                padding-left: 56px;
                background-color: #01B9EA;

                .Technology-list-item-main {
                    margin-right: auto;
                }
            }

            &:nth-child(even) {
                .Technology-list-item__img {
                    height: 100%;
                    margin-left: auto;
                }
            }
        }
    }

    &-item {
        width: 50%;
    
        &__img {
            max-width: 660px;
    
            img {
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    
        img {
            object-fit: cover;
        }
    
        &-main {
            padding: 70px 0 50px;
            max-width: 509px;
    
            &__title {
                color: #FFFFFF;
                font-size: 40px;
                font-weight: 700;
                @include text-truncate(2);
            }
    
            &__text {
                margin-top: 30px;
                color: #FFFFFF;
                font-weight: 400;
                line-height: 1.25;
                @include text-truncate(5);
            }
    
            &-tech {
                &__title {
                    margin-top: 24px;
                    color: #FFFFFF;
                    font-weight: 700;
                    line-height: 1.25;
                }
        
                &-list {
                    margin-top: 21px;
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    flex-wrap: wrap;
        
                    &__item {
                        width: 63px;
                        height: 48px;
                        border-radius: 8px;
                        background: #FFFFFF;
                        padding: 10px 7px;
        
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }

            &-support {
                &__title {
                    margin-top: 37px;
                    color: #FFFFFF;
                    font-weight: 700;
                    line-height: 1.25;
                }
        
                &__text {
                    display: block;
                    margin-top: 10px;
                    color: #FFFFFF;
                    font-weight: 400;
                    line-height: 1.25;
                    @include text-truncate();
        
                    &:hover {
                        @include underline();
                        text-underline-offset:unset
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .Technology {
        .Technology-list {
            display: flex;
            flex-direction: column-reverse;
    
            &-item {
                width: 100%;
    
                .Technology-list-item-main {
                    max-width: unset;
                }
    
                &__img {
                    max-width: unset;
                }
            }
        }
    }

    .Technology-list:nth-child(odd) .Technology-list-item:nth-child(odd) {
        padding-left: 56px;
    }
}

@media screen and (max-width: 767px) {
    .Technology {
        .Technology-list {
            display: flex;
            flex-direction: column-reverse;

            &-item {
                width: 100%;
        
                &-main {
                    max-width: unset;
                    padding: 30px 0 20px;
        
                    &__title {
                        @include h2;
                    }
                }
        
                &:nth-child(odd),
                &:nth-child(even) {
                    padding: 0 10px;
                }
            }
        }
    }

    .Technology-list:nth-child(even) .Technology-list-item:nth-child(odd) {
        padding: 0 52px 0 10px;
    }
}