.technology {
    background: linear-gradient(to right, #358BDB 50%, #e7eaef 50%);

    &-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &-item {
            height: 100%;
            padding-left: 100px;
            padding-right: 10px;
            position: absolute;
            left: 0;
            width: 50%;
            background-color: #358BDB;
            display: flex;
            flex-direction: column;
            gap: 25px;

            &--right {
                background-color: #01B9EA;
                right: 0;
                left: auto;
                padding: 0 56px;
            }

            &-main {
                padding-top: 70px;

                &__title {
                    color: $white-color;
                    @include middum-40;
                    @include text-truncate(2);
                }

                &__text {
                    margin-top: 10px;
                    color: $white-color;
                    @include text16-regular;
                    @include text-truncate(5);
                }
            }

            &-tech__title {
                color: $white-color;
                @include text16-bold;
            }

            &-tech-list {
                margin-top: 10px;
                display: flex;
                gap: 8px;
                align-items: center;

                &__item {
                    width: 63px;
                    height: 48px;
                    border-radius: 8px;
                    background: $white-color;
                    padding: 10px 7px;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }
            }

            &-support__title {
                color: $white-color;
                @include text16-bold;
            }

            &-support__text {
                display: block;
                margin-top: 10px;
                color: $white-color;
                @include text16-regular;
                @include text-truncate(1);
            }
        }

        &:nth-child(even) {
            background-color: #e7eaef;
        }
    }

    &__img {
        margin: auto;
    }
}

@media (max-width: 1024px) {
    .technology {
        background: none;

        &-list-item {
            width: 100%;
            padding: 0 10px 20px;
            position: initial;
            order: 1;

            &--right {
                order: -1;
                right: 0;
                left: auto;
                padding: 10px;
            }

            &-tech-list {
                flex-wrap: wrap;

                &__item {
                    margin: auto 0 0;
                }
            }
        }

        &-list {
            height: auto;
            flex-direction: column;

            &__img {
                order: 2;
                margin: auto;
                width: 100%;
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 756px) {
    
}

@media screen and (max-width: 756px) {
   
}
