* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input, textarea, button, select {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.responsive {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.slick-dotted.slick-slider {
  margin: 0;
  padding-bottom: 30px;
}

.slick-dots li button {
  position: relative;
  height: 16px;
  width: 16px;
}

.slick-dots li.slick-active button {
  border: #01B9EA solid 1px;
  border-radius: 50%;
}

.slick-dots li.slick-active button::before {
  background-color: #01B9EA;
}

.slick-dots li button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #a0a0a0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
header .header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
header .header-logo__menu {
  display: none;
}
header .header-content {
  display: flex;
  align-items: center;
}
header .header-content-group__close, header .header-content-group__logo {
  display: none;
}
header .header-content-group-nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}
header .header-content-group-nav li {
  position: relative;
}
header .header-content-group-nav a {
  display: block;
  position: relative;
}
header .header-content-group-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 100%;
  background-color: #01B9EA;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
header .header-content-group-nav a:hover {
  font-weight: 700;
}
header .header-content-group-nav a:hover::after {
  transform: scaleX(1);
}
header .header-content-group-nav-wrap__icon {
  display: none;
}
header .header-content-group-bottom {
  display: none;
}

.header-content-group-nav li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFFFFF;
}

.header-content-group-nav li ul li a {
  min-width: 90px;
  margin: 10px;
}

.header-content-group-nav li:hover ul {
  display: block;
}

.banner {
  position: relative;
}

.banner-background img {
  width: 100%;
  height: auto;
}

.banner-line__img {
  position: absolute;
  bottom: 0;
  animation: fly 3s ease-in-out infinite;
  opacity: 0;
}

@keyframes fly {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-200%);
    opacity: 0;
  }
}
.banner-body {
  position: absolute;
  top: 190px;
  margin-top: 70px;
}
.banner-body__title {
  color: #358BDB;
  max-width: 427px;
  font-size: 60px;
  font-weight: 900;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.banner-body__describe {
  display: block;
  color: #454545;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  max-width: 427px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.banner-body-view {
  display: inline-flex;
  gap: 16px;
  margin-top: 70px;
}
.banner-body-inquiry {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 13px;
  border: 1px solid #01B9EA;
  background: #01B9EA;
  padding: 0 50px;
}
.banner-body-inquiry__text {
  color: #FFFFFF;
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #01B9EA;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
}

.fixed {
  position: fixed;
  top: 0;
  color: #FFFFFF;
  background-color: #01B9EA;
  left: 0;
  width: 100%;
  z-index: 10;
}
.fixed .header-logo {
  padding: 20px 0;
}
.fixed .header-logo__img {
  filter: brightness(10);
}
.fixed ul li {
  padding: 10px;
}
.fixed ul li ul {
  border-radius: 4px;
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.1);
}
.fixed ul li ul li a {
  color: #454545;
}

.header-logo-language {
  position: relative;
  margin-left: 30px;
}
.header-logo-language a {
  border-radius: 4px;
  padding: 8px;
  border: 1px solid rgba(69, 69, 69, 0.2);
  text-align: center;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
}
.header-logo-language ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-logo-language ul li {
  padding: 0;
}
.header-logo-language ul a {
  display: block;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid rgba(69, 69, 69, 0.2);
  text-decoration: none;
  background-color: #358BDB;
}
.header-logo-language ul a:hover {
  background-color: #01B9EA;
}
.header-logo-language:hover ul {
  display: block;
}

@media (max-width: 1024px) and (min-width: 769px) {
  header {
    background-size: contain;
  }
  header .header-top-pc-logo-nav {
    gap: 10px;
  }
  header .header-body__title {
    font-size: 50px;
    width: 300px;
  }
  header .header-bottom {
    margin-top: -20px;
  }
}
@media screen and (max-width: 768px) {
  header .header {
    background-color: #2F5AA8;
  }
  header .header-logo {
    padding: 20px 0;
  }
  header .header-logo__menu {
    display: block;
  }
  header .header-logo__img {
    filter: brightness(10);
  }
  header .header-logo-language {
    margin-left: 0;
  }
  header .header-logo-language a {
    border-color: #FFFFFF;
    color: #FFFFFF;
  }
  header .header-content-group {
    display: none;
  }
  header .header-content-group__close {
    display: block;
    position: absolute;
    padding: 5px;
    right: 0;
  }
  header .header-content-group__logo {
    padding: 20px;
    border-bottom: 2px solid #FFFFFF;
    display: block;
  }
  header .header-content-group-nav {
    display: block;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 375px;
  }
  header .header-content-group-nav ul {
    max-height: 0;
    display: none;
  }
  header .header-content-group-nav--active ul {
    background-color: #2F5AA8;
    display: block;
    position: unset;
    max-height: none;
  }
  header .header-content-group-nav--active ul li {
    padding: 0;
  }
  header .header-content-group-nav--active svg {
    transform: rotate(180deg);
  }
  header .header-content-group-nav li {
    min-height: 50px;
    color: #FFFFFF;
    padding: 10px 20px;
  }
  header .header-content-group-nav li::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    bottom: -10px;
    height: 1px;
    width: 100%;
    opacity: 0.2;
    background-color: #FFFFFF;
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  header .header-content-group-nav li a::after {
    content: none;
  }
  header .header-content-group-nav.header-content-group-nav--active li {
    min-height: unset;
  }
  header .header-content-group-nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .header-content-group-nav-wrap__icon {
    display: block;
  }
  header .header-content-group-bottom {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  header .header-content-group-bottom-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  header .header-content-group-bottom-mail__text {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.25;
  }
  header .header-content-group-bottom-social {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    padding: 10px 0;
  }
  header .header-content-group-bottom-social-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
  }
  header .header-content-group-bottom-social-img__fb {
    padding: 12px 16px;
  }
  header .header-content-group-bottom-social-img__yt {
    padding: 14px 12px;
  }
  header .header-body__title {
    width: auto;
  }
  .fixed ul li ul li a {
    color: #FFFFFF;
  }
  .banner {
    padding: 40px 0;
    position: unset;
  }
  .banner-background {
    display: none;
  }
  .banner-body {
    position: unset;
  }
  .banner-body__title {
    font-size: 40px;
    font-weight: 700;
  }
  .banner-modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .banner-modal-content {
    background-color: #ccc;
    margin: 15% auto;
    padding: 5px;
    border: 1px solid #888;
    width: 80%;
  }
  .wrapper.show {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .wrapper.show .header-content-group {
    display: block;
    width: 80%;
    height: 100%;
    background-color: #2F5AA8;
  }
  .wrapper.show .header-logo-bottom {
    display: flex;
  }
  .wrapper.show + .header-logo-language {
    position: unset;
  }
}
.general-bg {
  width: 100%;
}

.general-bg img {
  width: 100%;
  object-fit: cover;
}

.general {
  position: relative;
  margin-top: -100px;
  height: auto;
}
.general-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.general-content-list {
  display: inline-flex;
  align-items: center;
  gap: 120px;
}
.general-content-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.general-content-list-item__number {
  text-align: center;
  -webkit-text-stroke: 1px #FFF;
  color: transparent;
  font-size: 80px;
  font-weight: 700;
}
.general-content-list-item__text {
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .general {
    margin-top: -50px;
  }
  .banner-body {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .general {
    margin-top: 0;
    background-image: none;
    background-color: #01B9EA;
  }
  .general-content-list {
    gap: 60px;
  }
  .general-content-list-item__number {
    font-size: 30px;
  }
}
.introduce {
  margin-top: 110px;
}
.introduce-develop {
  display: flex;
  align-items: center;
}
.introduce-develop > * {
  flex-basis: 50%;
  flex-grow: 1;
}
.introduce-develop-top__title {
  color: #454545;
  font-size: 40px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.introduce-develop-top__title--hightlight {
  color: #01B9EA;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.introduce-develop-body {
  margin-top: 50px;
}
.introduce-develop-body__text {
  color: #454545;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.introduce-outsource {
  display: flex;
  margin: 120px 0 200px;
}
.introduce-outsource__img {
  flex-basis: 58%;
  position: relative;
}
.introduce-outsource-main {
  flex-basis: 58%;
  position: relative;
  border-radius: 8px;
  background: #358BDB;
  color: #FFFFFF;
  padding: 60px 70px 20px;
  box-sizing: border-box;
  margin: 60px 0 0 -160px;
  z-index: 1;
}
.introduce-outsource-main__title {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
}
.introduce-outsource-main-list {
  margin-top: 50px;
}
.introduce-outsource-main-list-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background: #439EF2;
  cursor: pointer;
}
.introduce-outsource-main-list-item-top__icon {
  display: flex;
}
.introduce-outsource-main-list-item-top--active .introduce-outsource-main-list-item-top__icon {
  transform: rotate(180deg);
}
.introduce-outsource-main-list-item-top--active .introduce-outsource-main-list-item-body__text {
  max-height: 180px;
}
.introduce-outsource-main-list-item-top--active .introduce-outsource-main-list-item-top {
  background: #01B9EA;
}
.introduce-outsource-main-list-item-top__title {
  color: #FFFFFF;
  padding: 20px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
}
.introduce-outsource-main-list-item-body {
  margin: 10px 5px;
}
.introduce-outsource-main-list-item-body__text {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  overflow-y: auto;
  max-height: 0px;
}
.introduce-outsource-main-list-item-body__text::-webkit-scrollbar {
  width: 8px;
}
.introduce-outsource-main-list-item-body__text::-webkit-scrollbar-thumb {
  background-color: #01B9EA;
  border-radius: 4px;
}
.introduce-outsource-main-list-item-body__text::-webkit-scrollbar-track {
  margin: 20px 0;
  border-radius: 4px;
  background-color: #f5f5f5;
}
.introduce-metting {
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1120px;
  border-radius: 8px;
  padding: 55px 60px;
  background-image: url("../../frontend/images/introduce_img_background_meeting.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.introduce-metting__title {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
}
.introduce-metting-call__text {
  display: block;
  padding: 10px 30px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 21px;
  border: 1px solid #FFFFFF;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
}
.introduce-metting-call__text:hover {
  background-color: #F6F6FF;
  color: #01B9EA;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .introduce-metting {
    position: unset;
  }
  .introduce-outsource {
    margin-top: 20px;
    display: block;
  }
  .introduce-outsource-main {
    margin: 20px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .introduce-develop {
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column-reverse;
  }
  .introduce-outsource {
    margin: 60px 0 100px;
    display: block;
  }
  .introduce-outsource-main {
    margin: 20px 0 0;
    padding: 20px 30px;
    min-height: unset;
  }
  .introduce-metting {
    flex-wrap: wrap;
    width: auto;
    padding: 15px 20px;
  }
  .introduce-metting__title {
    text-align: center;
  }
  .introduce-metting-call {
    margin: auto;
  }
}
.service {
  background-color: #F6F6FF;
  padding-top: 195px;
}
.service-top {
  display: flex;
  flex-direction: column;
}
.service-top__title {
  color: #454545;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.service-top__text {
  display: block;
  margin: 50px 0 70px;
  color: #454545;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 736px;
  align-self: center;
}
.service-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 24px;
}
.service-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 8px;
  background: #D6E8F9;
  padding: 45px 0px 50px 0px;
  cursor: pointer;
  overflow: hidden;
}
.service-list-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-image: url("../../frontend/images/service_img_hover.png");
  color: #FFFFFF;
  display: flex;
  padding-bottom: 50px;
  z-index: 2;
  visibility: hidden;
}
.service-list-item-hover__text {
  margin-top: auto;
  text-align: center;
  padding: 0 30px 10px;
}
.service-list-item:hover {
  z-index: 1;
}
.service-list-item:hover .service-list-item-hover {
  visibility: visible;
}
.service-list-item__img img {
  object-fit: cover;
  object-position: center;
}
.service-list-item__title {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.service-why {
  margin-top: 120px;
  padding-bottom: 120px;
}
.service-why__title {
  color: #454545;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.service-why-list {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.service-why-list-item {
  background-color: #F3F4FD;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 15px;
  padding: 45px;
  border-radius: 24px;
  border: 1px solid #FFFFFF;
}
.service-why-list-item--colorEDFAFE {
  background-color: #EDFAFE;
}
.service-why-list-item--colorEBF5FF {
  background-color: #EBF5FF;
}
.service-why-list-item__title {
  color: #454545;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.service-why-list-item__text {
  color: #454545;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .service-why-list-item {
    padding: 15px;
  }
}
@media screen and (max-width: 768px) {
  .service {
    padding-top: 100px;
  }
  .service-top__text {
    width: auto;
    margin: 20px 0 30px;
  }
  .service-list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 24px;
  }
  .service-why {
    margin-top: 60px;
    padding-bottom: 60px;
  }
  .service-why-list {
    flex-wrap: wrap;
  }
}
.technology-list {
  display: flex;
  background-color: #eceff4;
}
.technology-list:nth-child(even) {
  flex-direction: row-reverse;
  background-color: #e7eaef;
}
.technology-list:nth-child(odd) .technology-list-item:nth-child(odd) {
  background-color: #358BDB;
  padding-right: 52px;
}
.technology-list:nth-child(odd) .technology-list-item:nth-child(even) .technology-list-item__img {
  height: 100%;
  margin-right: auto;
}
.technology-list:nth-child(odd) .technology-list-item .technology-list-item-main {
  margin-left: auto;
}
.technology-list:nth-child(even) .technology-list-item:nth-child(odd) {
  padding-left: 56px;
  background-color: #01B9EA;
}
.technology-list:nth-child(even) .technology-list-item:nth-child(odd) .technology-list-item-main {
  margin-right: auto;
}
.technology-list:nth-child(even) .technology-list-item:nth-child(even) .technology-list-item__img {
  height: 100%;
  margin-left: auto;
}

.technology-list-item {
  width: 50%;
}
.technology-list-item__img {
  max-width: 660px;
}
.technology-list-item__img img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.technology-list-item img {
  object-fit: cover;
}
.technology-list-item .technology-list-item-main {
  padding: 70px 0 50px;
  max-width: 509px;
}
.technology-list-item .technology-list-item-main__title {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.technology-list-item .technology-list-item-main__text {
  margin-top: 30px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.technology-list-item .technology-list-item-main .technology-list-item-main-tech__title {
  margin-top: 24px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.25;
}
.technology-list-item .technology-list-item-main .technology-list-item-main-tech-list {
  margin-top: 21px;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}
.technology-list-item .technology-list-item-main .technology-list-item-main-tech-list__item {
  width: 63px;
  height: 48px;
  border-radius: 8px;
  background: #FFFFFF;
  padding: 10px 7px;
}
.technology-list-item .technology-list-item-main .technology-list-item-main-tech-list__item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.technology-list-item .technology-list-item-main .technology-list-item-main-support__title {
  margin-top: 37px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.25;
}
.technology-list-item .technology-list-item-main .technology-list-item-main-support__text {
  margin-top: 10px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .technology-list {
    display: block;
  }
  .technology-list-item {
    width: 100%;
  }
  .technology-list-item .technology-list-item-main {
    max-width: unset;
  }
  .technology-list-item__img {
    max-width: unset;
  }
  .technology-list:nth-child(odd) .technology-list-item:nth-child(odd) {
    padding-left: 56px;
  }
}
@media screen and (max-width: 768px) {
  .technology-list {
    display: block;
  }
  .technology-list-item {
    width: 100%;
  }
  .technology-list-item .technology-list-item-main {
    max-width: unset;
    padding: 30px 0 20px;
  }
  .technology-list-item .technology-list-item-main__title {
    font-size: 20px;
    font-weight: 700;
  }
  .technology-list-item:nth-child(odd), .technology-list-item:nth-child(even) {
    padding: 0 10px;
  }
  .technology-list:nth-child(even) .technology-list-item:nth-child(odd) {
    padding: 0 52px 0 10px;
  }
}
.slide {
  padding: 120px 0;
  background-color: #F2F5FA;
}
.slide-main {
  display: flex;
  gap: 90px;
  flex-wrap: wrap;
}
.slide-main__img {
  width: 45%;
}
.slide-main__img img {
  object-fit: contain;
  object-position: center;
}
.slide-main-list {
  width: 45%;
}
.slide-main-list-item__title {
  color: #454545;
  font-size: 40px;
  font-weight: 700;
}
.slide-main-list-item__text {
  margin-top: 35px;
  color: #454545;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slide-main-list-item-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide-main-list-item-group-user {
  display: flex;
  align-items: end;
  gap: 20px;
}
.slide-main-list-item-group-user__img img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.slide-main-list-item-group-user__name {
  color: #454545;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
}
.slide-main .slick-dots {
  margin-top: 20px;
  text-align: left;
  bottom: inherit;
}

@media screen and (max-width: 768px) {
  .slide {
    padding: 60px 0;
  }
  .slide-main {
    gap: 0;
  }
  .slide-main__img, .slide-main-list {
    width: 100%;
  }
  .slide .slide-main-list-item__title {
    margin-top: 20px;
    font-size: 20px;
  }
  .slide .slide-main-list-item-user {
    display: flex;
    justify-content: center;
  }
  .slide .slick-dots {
    text-align: center;
  }
}
.client {
  margin: 120px 0;
}
.client__title {
  color: #454545;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.client-list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 35px;
  row-gap: 18px;
}
.client-list-item {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: #A9B5C9 solid 1px;
  padding: 20px 30px;
  cursor: pointer;
  display: flex;
}
.client-list-item__img {
  margin: auto;
}
.client-list-item__img img {
  max-height: 65px;
  object-fit: contain;
  object-position: center;
  transition: transform 0.3s ease;
}
.client-list-item:hover .client-list-item__img img {
  transform: scale(1.2);
}
.client-list-item:hover {
  border-color: #01B9EA;
}

@media screen and (max-width: 768px) {
  .client {
    margin: 60px 0;
  }
  .client-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
.leader {
  padding: 110px 0 150px;
  background-color: #F2F5FA;
}
.leader__title {
  color: #454545;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 70px;
}
.leader-list {
  width: 100%;
}
.leader-list-item__img {
  padding: 20px 20px 0;
  border: 1px solid #FFFFFF;
  background: #E0ECF9;
  border-radius: 0 0 0 30px;
}
.leader-list-item__img img {
  object-fit: contain;
  object-position: center;
}
.leader-list-item__name {
  margin: 20px 0 10px;
  color: #454545;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.leader-list-item__describe {
  display: block;
  color: #828282;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
}

@media screen and (max-width: 768px) {
  .leader {
    padding: 100px 0;
  }
  .leader-list-item {
    flex-wrap: wrap;
    gap: 10px;
  }
  .leader-list-item > .leader-list-item-group {
    flex-basis: calc(50% - 10px);
    text-align: center;
  }
}
.footer {
  padding: 120px 0 0;
  background: linear-gradient(97deg, #0869C2 3.77%, #2883D8 49.28%, #358BDB 100.88%);
}
.footer-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 120px;
  row-gap: 50px;
}
.footer-top-item__title {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
}
.footer-top-item-mail, .footer-top-item-locate, .footer-top-item-phone {
  margin-top: 30px;
  display: flex;
  gap: 17px;
}
.footer-top-item-locate__text {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
}
.footer-top-item-mail__text, .footer-top-item-phone__text {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 50px;
  padding-bottom: 57px;
}
.footer-bottom-icon {
  display: flex;
  gap: 13px;
}
.footer-bottom-icon__yt, .footer-bottom-icon__fb {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: #FFFFFF solid 1px;
  cursor: pointer;
}
.footer-bottom-icon__fb {
  padding: 12px 16px;
}
.footer-bottom-icon__yt {
  padding: 12px 12px;
}
.footer-bottom-text {
  display: flex;
  gap: 30px;
}
.footer-bottom-text li a {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .footer-top {
    column-gap: 50px;
    row-gap: 25px;
    padding: 0 20px;
  }
  .footer-bottom {
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 50px;
  }
  .footer-top {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 120px;
    row-gap: 50px;
  }
  .footer-bottom {
    padding: 20px 0;
    flex-wrap: wrap;
    position: unset;
    transform: none;
  }
  .footer-bottom-icon {
    margin: auto auto 15px;
  }
}/*# sourceMappingURL=style.css.map */