html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.responsive {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 17px;
}

.no-scroll {
    overflow: hidden;
}

.slick-dotted.slick-slider {
    margin: 0;
    padding-bottom: 30px;
}

.slick-dots li button {
    position: relative;
    height: 16px;
    width: 16px;
}

.slick-dots li.slick-active button {
    border: $primary-color solid 1px;
    border-radius: 50%;
}

.slick-dots li.slick-active button::before {
    background-color: $primary-color;
}

.slick-dots li button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #a0a0a0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}