html {
    font-size: 62.5%;
}

body {
    max-width: 1366px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.responsive {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

.slick-dotted.slick-slider {
    margin: 0;
    padding-bottom: 30px;
}

.slick-dots li button:before {
    transform: scale(1.3);
}

.slick-dots li.slick-active button:before {
    color: $primary-color;
    border-radius: 50%;
    border: $primary-color solid 1px;
}