@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// lagre-80
@mixin lagre-80 {
    -webkit-text-stroke: 1px #FFF;
    color: transparent;
    font-size: 80px;
    font-weight: 700;
}

// middum-40
@mixin text60 {
    font-size: 60px;
    font-weight: 900;
}

// middum-40
@mixin middum-40 {
    font-size: 40px;
    font-weight: 700;
}

// text16-reglar
@mixin text16-regular {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
}

// text16-bold 
@mixin text16-bold {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.25;
}

// h2
@mixin h2 {
    font-size: 20px;
    font-weight: 700;
}

@mixin background-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin background-contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin object-cover {
    object-fit: cover;
    object-position: center;
}

// text-truncate
@mixin text-truncate($lines: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin underline($color:#FFF, $offset: 5px) {
    text-decoration: underline;
    text-underline-offset: $offset;
    text-decoration-color: $color;
}
