$primary-color: #01B9EA;
$primary-mobile-color: #2F5AA8;
$secondary-color: #358BDB;
$white-color: #FFFFFF;
$text-color: #454545;

$border-radius-m: 4px;
$border-radius-l: 8px;
$border-radius-xl: 13px;
$border-radius-xxl: 21px;
$border-radius-xxxl: 24px;
